<div class="border-b border-gray-300">
  <div class="container flex items-center justify-center py-4">
      <!-- Center Text -->
      <div class="text-center flex-grow mx-4">
          <span>REGISTRO DE LÍNEA AMIGA (FRIAM 041)</span>
      </div>
      <!-- Right Logo -->
      <div class="flex justify-center items-center gap-[3vw]">
        <img src="assets/logoHUDN.svg" alt="Logo HUDN" class="h-20">
        <img src="assets/Sello-Icontec-SUA-2019-1 1.svg" alt="Sello Icontec" class="h-20">
      </div>
  </div>
</div>
