<div class="bg-white border-t border-b border-gray-300">
  <div class="container mx-auto flex items-center justify-between py-4">
      <!-- Left Logo -->
      <!-- <img src="assets/logoHUDN.svg" alt="Logo HUDN" class="h-16"> -->

      <!-- Center Text -->
      <div class="text-center flex-grow mx-4">
          <h1 class="text-lg font-semibold">REGISTRO DE LÍNEA AMIGA (FRIAM 041)</h1>
          <!-- <div class="text-xs text-gray-600">HOSPITAL UNIVERSITARIO DEPARTAMENTAL DE NARIÑO E.S.E.</div> -->
      </div>

      <!-- Right Logo -->
      <img src="assets/logoHUDN.svg" alt="Logo HUDN" class="h-16">
      <img src="assets/Sello-Icontec-SUA-2019-1 1.svg" alt="Sello Icontec" class="h-16">
  </div>
</div>
