<div class="container-table">
  <p-table
    [value]="filteredCustomers"
    [scrollable]="true"
    scrollHeight="500px"
    scrollWidth="100%"
    [columns]="headersTableLineaAmiga"
    selectionMode="single"
    [(selection)]="selectedRow"
    (onRowSelect)="onRowSelect($event)"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <!-- Encabezado de la tabla -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of headersTableLineaAmiga" [ngStyle]="{ 'min-width': col.width }">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>

    <!-- Cuerpo de la tabla -->
    <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
      <tr [pSelectableRow]="editingRow === null ? customer : null">
        <!-- Si la fila está en modo edición -->
        <ng-container *ngIf="editingRow === customer; else viewMode">
          <td><input [(ngModel)]="customer.fecha" /></td>
          <td><input [(ngModel)]="customer.ruta" /></td>
          <td><input [(ngModel)]="customer.placaVehiculo" /></td>
          <td><input [(ngModel)]="customer.conductor" /></td>
          <td><input type="number" [(ngModel)]="customer.kmInicial" /></td>
          <td><input type="number" [(ngModel)]="customer.kmFinal" /></td>
          <td><input [(ngModel)]="customer.horaSalida" /></td>
          <td><input [(ngModel)]="customer.horaLlegada" /></td>
          <td><input [(ngModel)]="customer.responsableTecnico" /></td>
          <td><input [(ngModel)]="customer.cargo" /></td>
          <td><input type="number" [(ngModel)]="customer.totalVisitas" /></td>
          <td>
            <input
              type="number"
              [(ngModel)]="customer.volumenLecheRecolectada"
            />
          </td>
          <td>
            <button (click)="guardarFila()">💾</button>
            <button (click)="cancelarEdicion()">❌</button>
          </td>
        </ng-container>

        <!-- Modo de visualización -->
        <ng-template #viewMode>
          <td>{{ customer.fecha }}</td>
          <td>{{ customer.ruta }}</td>
          <td>{{ customer.placaVehiculo }}</td>
          <td>{{ customer.conductor }}</td>
          <td>{{ customer.kmInicial }}</td>
          <td>{{ customer.kmFinal }}</td>
          <td>{{ customer.horaSalida }}</td>
          <td>{{ customer.horaLlegada }}</td>
          <td>{{ customer.responsableTecnico }}</td>
          <td>{{ customer.cargo }}</td>
          <td>{{ customer.totalVisitas }}</td>
          <td>{{ customer.volumenLecheRecolectada }}</td>
          <td>
            <button (click)="editarFila(customer)">✏️</button>
          </td>
        </ng-template>
      </tr>
    </ng-template>
  </p-table>
</div>
