<app-header [title]="'CONTROL DE ENTRADAS Y SALIDAS DE LECHE HUMANA EXTRAIDA PASTEURIZADA (FRIAM-013)'" />

<div class="flex justify-between items-center mx-4 mt-8">
  <div class="flex gap-3 items-center">
    <span class="font-semibold text-gray-700">Filtros:</span>

    <input pInputText type="text" [(ngModel)]="filtrosBusqueda.n_frasco_pasteurizado" (input)="aplicarFiltros()"
      placeholder="N° Frasco Pasteurizado" class="w-56" />

    <input pInputText type="text" [(ngModel)]="filtrosBusqueda.donante" (input)="aplicarFiltros()"
      placeholder="Donante" class="w-40" />

    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-text p-button-secondary"
      (click)="limpiarFiltros()" pTooltip="Limpiar filtros" tooltipPosition="top"></button>
  </div>

  <shared-month-picker (dateChange)="onMonthPickerChange($event)" />
</div>

<entradas-salidas-pasteurizada-table [filtrosBusqueda]="filtrosBusqueda" />
