<div class="fixed top-0 left-0 w-full z-50 bg-white shadow">
  <p-menubar>
    <ng-template pTemplate="start" let-item>
      <p-button (click)="visible = true" icon="pi pi-bars" />
    </ng-template>
    <ng-template pTemplate="end">
      <p-avatar icon="pi pi-user" class="mr-2" shape="circle"></p-avatar>
      <p-button icon="pi pi-sign-out" label="" (onClick)="singOut()"></p-button>
    </ng-template>
  </p-menubar>
</div>

<p-drawer #drawerRef [(visible)]="visible">
  <ng-template #headless>
    <div class="flex flex-col h-full">
      <div class="flex items-center justify-center px-6 pt-4">
        <img src="assets/logoBLH.svg" alt="Logo BLH" />
      </div>
      <div class="overflow-y-auto">
        <ul class="p-4 overflow-hidden">
          @for (item of menuBarItems; track $index) {
          <li>
            <a pRipple class="flex items-center cursor-pointer w-full"
              [routerLink]="item.items && item.items.length ? null : item.route" [attr.aria-expanded]="item.isOpen"
              (click)="toggleModule(item)">
              <i class="{{ item.icon }}"></i>
              <span class="ml-2">{{ item.label }}</span>
              @if (item.items && item.items.length) {
              <i class="pi pi-chevron-down ml-auto" [class.rotate-180]="item.isOpen"></i>
              }
            </a>

            @if (item.items && item.items.length) {
            <ul class="submenu-container" [class.submenu-open]="item.isOpen">
              @for (subItem of item.items; track $index) {
              <li class="">
                <a class="flex items-center cursor-pointer" [routerLink]="subItem.route" routerLinkActive="active"
                  (click)="visible = false">
                  <span class="">{{ subItem.label }}</span>
                  @if (subItem.subLabel) {
                  <span class="text-xs text-gray-500 ml-2">{{ subItem.subLabel }}</span>
                  }
                </a>
              </li>
              }
            </ul>
            }
          </li>
          }
        </ul>
      </div>

      <div class="drawer-footer">
        <div class="version-info">
          <i class="pi pi-info-circle"></i>
          <span>Banco de Leche Humana</span>
          <span class="version-badge">v1.0</span>
        </div>
      </div>
    </div>
  </ng-template>
</p-drawer>
