<p-dialog header="REGISTRO DE TEMPERATURA TERMOS/CAJAS ISOTERMICAS" [resizable]="false" [modal]="true"
  [maximizable]="true" appendTo="body" [(visible)]="dialogVisible" [style]="{ width: '85vw' }"
  [contentStyle]="{ height: '550px' }" [draggable]="false" (onHide)="onClosedDialogPrimary()">

  <table-temperatura [dataRutaRecoleccion]="dataRutaRecoleccion" />
  <table-casa [dataRutaRecoleccion]="dataRutaRecoleccion" (openDialogFrascosL)="openDialogFrascosL($event)" />
</p-dialog>

<secondary-dialog [casaNo]="selectedCasaNo" (dialogClosed)="onClosedDialog()" />