<div *ngIf="dialogRow" class="container-table">
  <p-table
    [value]="[dialogRow]"
    [scrollable]="true"
    scrollHeight="flex"
    scrollWidth="100%"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>NO. CAJA</th>
        <th>HORA DE SALIDA</th>
        <th>T° DE SALIDA</th>
        <th *ngFor="let col of dynamicColumns">{{ col }}</th>
        <th>ACCIONES</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{ customer.noCaja }}</td>
        <td>{{ customer.hSalida }}</td>
        <td>
          <ng-container *ngIf="editingRow === customer; else viewTemperaturaSalida">
            <input type="number" [(ngModel)]="customer.tSalida" />
          </ng-container>
          <ng-template #viewTemperaturaSalida>
            {{ customer.tSalida }}
          </ng-template>
        </td>
        <td *ngFor="let col of dynamicColumns">
          <ng-container *ngIf="editingRow === customer || editingColumn === col; else viewColumn">
            <input
              type="number"
              [(ngModel)]="customer[col]"
              (blur)="editingColumn === col ? guardarEdicion(customer) : null"
              (keyup.enter)="editingColumn === col ? guardarEdicion(customer) : null"
              (keyup.escape)="editingColumn === col ? cancelarEdicion() : cancelarEdicionFila()"
              autofocus
            />
          </ng-container>
          <ng-template #viewColumn>
            <span>{{ customer[col] }}</span>
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="editingRow === customer || editingColumn !== null; else editButton">
            <button (click)="editingColumn !== null ? guardarEdicion(customer) : guardarFila()">💾</button>
            <button (click)="editingColumn !== null ? cancelarEdicion() : cancelarEdicionFila()">❌</button>
          </ng-container>
          <ng-template #editButton>
            <button (click)="editarFila(customer)">✏️</button>
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div *ngIf="!dialogRow" class="p-4 text-center text-gray-500">
  No hay datos disponibles
</div>
