    <p-accordion-panel value="3">
      <p-accordion-header>MEDICAMENTOS</p-accordion-header>
      <p-accordion-content>
        <form class="grid grid-cols-2 gap-6">
          <!-- Medicamentos y Psicoactivos -->
          <div>
            <label>Medicamentos:</label>
            <input
              pInputText
              type="text"
              class="w-full"
              [(ngModel)]="medicamentos"
              name="medicamentos"
            />
            <div class="flex items-center mt-2">
              <label class="mr-2">Ninguno:</label>
              <p-checkbox
                binary="true"
                [(ngModel)]="ningunMedicamento"
                name="ningunMedicamento"
                inputId="ningunMedicamento"
              ></p-checkbox>
            </div>
          </div>
          <div>
            <label>Psicoactivos:</label>
            <input
              pInputText
              type="text"
              class="w-full"
              [(ngModel)]="psicoactivos"
              name="psicoactivos"
            />
          </div>

          <!-- Recibió educación y Responsable -->
          <div>
            <label>Recibió educación en:</label>
            <input
              pInputText
              type="text"
              class="w-full"
              [(ngModel)]="recibioEducacion"
              name="recibioEducacion"
            />
          </div>
          <div>
            <label>Responsable del registro:</label>
            <input
              pInputText
              type="text"
              class="w-full"
              [(ngModel)]="responsableRegistro"
              name="responsableRegistro"
            />
          </div>

          <!-- Firma adulto acompañante y Donante apta -->
          <div>
            <label
              >Si es donante menor de edad, firma de adulto acompañante:</label
            >
            <textarea
              pInputTextarea
              rows="5"
              class="w-full"
              [(ngModel)]="firmaAcompanante"
              name="firmaAcompanante"
            ></textarea>
          </div>
          <div>
            <label>Donante apta:</label>
            <div class="flex items-center gap-4 mt-2">
              <p-radioButton
                name="donanteApta"
                value="si"
                [(ngModel)]="donanteApta"
                inputId="aptaSi"
              ></p-radioButton>
              <label for="aptaSi" class="mr-4">Sí</label>
              <p-radioButton
                name="donanteApta"
                value="no"
                [(ngModel)]="donanteApta"
                inputId="aptaNo"
              ></p-radioButton>
              <label for="aptaNo">No</label>
            </div>
          </div>

          <!-- Consentimiento -->
          <div class="col-span-2">
            <p class="font-bold mt-4 mb-2">
              En forma voluntaria doy expreso consentimiento al BLH del HUDN
              para que efectúe el procesamiento, control de calidad de mi leche
              y además se suministre a los recién nacidos que lo requieran.
            </p>
          </div>

          <!-- Firmas -->
          <div>
            <label>FIRMA DEL DONANTE:</label>
            <textarea
              pInputTextarea
              rows="5"
              class="w-full"
              [(ngModel)]="firmaDonante"
              name="firmaDonante"
            ></textarea>
          </div>
          <div>
            <label>PROFESIONAL RESPONSABLE:</label>
            <textarea
              pInputTextarea
              rows="5"
              class="w-full"
              [(ngModel)]="profesionalResponsable"
              name="profesionalResponsable"
            ></textarea>
          </div>
        </form>
      </p-accordion-content>
    </p-accordion-panel>
