<p-accordion-panel value="3">
  <p-accordion-header>MEDICAMENTOS</p-accordion-header>
  <p-accordion-content>
    <form class="grid grid-cols-2 gap-6">
      <!-- Medicamentos y Psicoactivos -->
      <div>
        <label>Medicamentos:</label>
        <input pInputText type="text" class="w-full" [(ngModel)]="medicamentos" name="medicamentos" />
        <div class="flex items-center mt-2">
          <label class="mr-2">Ninguno:</label>
          <p-checkbox binary="true" [(ngModel)]="ningunMedicamento" name="ningunMedicamento"
            inputId="ningunMedicamento"></p-checkbox>
        </div>
      </div>
      <div>
        <label>Psicoactivos:</label>
        <input pInputText type="text" class="w-full" [(ngModel)]="psicoactivos" name="psicoactivos" />
      </div>

      <!-- Recibió educación y Responsable -->
      <div>
        <label>Recibió educación en:</label>
        <input pInputText type="text" class="w-full" [(ngModel)]="recibioEducacion" name="recibioEducacion" />
      </div>
      <div>
        <label>Responsable del registro:</label>

        <p-select [checkmark]="true" [filter]="true" filterBy="nombre" appendTo="body" [options]="empleadosOpt"
          [(ngModel)]="selectedEmpleado" [checkmark]="true" optionLabel="nombre" [showClear]="true"
          placeholder="Seleccione un responsanble" class="w-full md:w-56" name="responsable"/>

      </div>

      <div>
        <label>Si es donante menor de edad, firma de adulto acompañante:</label>
        <div>
          <canvas #canvasAcompanante width="350" height="120" style="
              border: 1px solid #ccc;
              border-radius: 8px;
              touch-action: none;
            "></canvas>
          <div class="mt-2 flex gap-2">
            <button type="button" (click)="clearFirmaAcompanante()"
              class="p-1 px-2 bg-gray-200 rounded border border-gray-300">
              Limpiar
            </button>
          </div>
        </div>
      </div>

      <div>
        <label>Donante apta:</label>
        <div class="flex items-center gap-4 mt-2">
          <p-radioButton name="donanteApta" [value]="1" [(ngModel)]="donanteApta" inputId="aptaSi"></p-radioButton>
          <label for="aptaSi" class="mr-4">Sí</label>
          <p-radioButton name="donanteApta" [value]="0" [(ngModel)]="donanteApta" inputId="aptaNo"></p-radioButton>
          <label for="aptaNo">No</label>
        </div>
      </div>

      <div class="col-span-2">
        <p class="font-bold mt-4 mb-2">
          En forma voluntaria doy expreso consentimiento al BLH del HUDN para
          que efectúe el procesamiento, control de calidad de mi leche y además
          se suministre a los recién nacidos que lo requieran.
        </p>
      </div>

      <div>
        <label>FIRMA DEL DONANTE:</label>
        <div>
          <canvas #canvasDonante width="350" height="120" style="
              border: 1px solid #ccc;
              border-radius: 8px;
              touch-action: none;
            "></canvas>
          <div class="mt-2 flex gap-2">
            <button type="button" (click)="clearFirmaDonante()"
              class="p-1 px-2 bg-gray-200 rounded border border-gray-300">
              Limpiar
            </button>
          </div>
        </div>
      </div>

      <div>
        <label>PROFESIONAL RESPONSABLE:</label>
        <div>
          <canvas #canvasProfesional width="350" height="120" style="
              border: 1px solid #ccc;
              border-radius: 8px;
              touch-action: none;
            "></canvas>
          <div class="mt-2 flex gap-2">
            <button type="button" (click)="clearFirmaProfesional()"
              class="p-1 px-2 bg-gray-200 rounded border border-gray-300">
              Limpiar
            </button>
          </div>
        </div>
      </div>
    </form>
  </p-accordion-content>
</p-accordion-panel>