// Colores del proyecto
:root{
    --primary-color: #224186; // Azul
    --secondary-color: #D0D7E4; // Gris claro
    --letter-color-secondary: #FCFCFC; // Blanco
    --letter-color-primary: #222222; // Negro
}
