.container-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.grid-lines{
    border: 1px solid white;
}

.filter-entidades{
    width: 100%;
    min-width: 200px;
}

.donante-efectiva {
    background-color: #78c089 !important;
    :hover {
        background-color: #54be6d !important;
    }
}

.lab-vencimiento {
    background-color: red !important;
}

