<p-toast position="top-right" key="tr" />

@if (loading) {
<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 transition-opacity duration-300">
  <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration="2s"
    [style]="{ width: '70px', height: '70px' }"></p-progress-spinner>
</div>
}

<app-header [title]="'REGISTRO DE DONANTE DEL BANCO DE LECHE HUMANA (FRIAM 018)'" />

<div class="container-table">
  <p-table [value]="dataRegistroDonante" [scrollable]="true" scrollHeight="500px"
    [columns]="headersTablePosiblesDonantes" [tableStyle]="{ 'min-width': '50rem' }" selectionMode="single" dataKey="id"
    [globalFilterFields]="['codDonante', 'documento']">
    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track $index) {
        @if (col.field == "codDonante") {
        <th [ngStyle]="{'background': '#F5F6FA'}">
          <p-columnFilter type="text" field="codDonante" [placeholder]="'Buscar '+col.header" [showMenu]="false"
            ariaLabel="Filter COD. DONANTE"></p-columnFilter>
        </th>
        }
        @else if (col.field == "documento") {
        <th [ngStyle]="{'background': '#F5F6FA'}">
          <p-columnFilter type="text" field="documento" [placeholder]="'Buscar '+col.header" [showMenu]="false"
            ariaLabel="Filter NO. DOC"></p-columnFilter>
        </th>
        }
        @else {
        <th [ngStyle]="{'background': '#F5F6FA'}"></th>
        }
        }
      </tr>
      <tr>
        @for (col of columns; track $index) {
        <th [ngStyle]="{ 'min-width': col.width }" class="grid-lines">
          {{ col.header }}
        </th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
      <tr [ngClass]="rowData['backgroundColorRow']">
        @for (col of columns; track $index) {
        <td (click)="col.field !== 'reporte' ? onRowClick(rowData) : null"
          [style.cursor]="col.field !== 'reporte' ? 'pointer' : 'default'"
          [ngClass]="col.field === 'laboratorio' && rowData['labVencido'] ? 'lab-fecha-vencida' : ''">
          @if (col.field === 'reporte') {
          @if (rowData.MadreDonante && rowData.MadreDonante.donanteApta === 1) {
          <button pButton type="button" icon="pi pi-file-pdf" label="PDF" size="small"
            class="p-button-success p-button-sm" (click)="descargarPDF(rowData); $event.stopPropagation()"
            [disabled]="generatingPdf && currentPdfRowId === rowData.id" title="Descargar reporte PDF">
          </button>
          }
          }
          @else {
          {{ rowData[col.field] }}
          }
        </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>

<div
  style="position: fixed; top: -10000px; left: -10000px; width:210mm; background:#fff; z-index:-1; visibility:hidden;">
  <pdf-friam-018 *ngIf="showPdf" #pdfComponent [datosInscripcion]="pdfPayload?.datosInscripcion"
    [historiaGestacion]="pdfPayload?.historiaGestacion" [examenesLab]="pdfPayload?.examenesLab"
    [medicamentos]="pdfPayload?.medicamentos">
  </pdf-friam-018>
</div>