.container-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.grid-lines {
  border: 1px solid white;
}

.filter-entidades {
  width: 100%;
  min-width: 200px;
}

.donante-efectiva {
  background-color: #78c089 !important;

  &:hover {
    background-color: #54be6d !important;
  }

  &:hover td {
    background-color: #54be6d !important;
  }
}

.p-button-sm {
  font-size: 0.75rem;
  padding: 0.375rem 0.75rem;

  .pi {
    font-size: 0.875rem;
  }
}

td {
  .p-button {
    margin: 0;
  }
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover td {
  background-color: inherit !important;
}

.lab-fecha-vencida {
  background-color: red !important;
  color: white !important;
  font-weight: bold !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover .lab-fecha-vencida {
  background-color: #cc0000 !important;
  color: white !important;
}

// Forzar anchos específicos de columnas
:host ::ng-deep .p-datatable {
  .p-datatable-thead > tr > th:nth-child(1),
  .p-datatable-tbody > tr > td:nth-child(1) {
    width: 150px !important;
    max-width: 150px !important;
    min-width: 150px !important;
    text-align: center;
  }

  .p-datatable-thead > tr > th:nth-child(2),
  .p-datatable-tbody > tr > td:nth-child(2) {
    width: 150px !important;
    max-width: 150px !important;
    min-width: 150px !important;
  }

  .p-datatable-thead > tr > th:nth-child(3),
  .p-datatable-tbody > tr > td:nth-child(3) {
    width: 180px !important;
    max-width: 180px !important;
    min-width: 180px !important;
  }

  .p-datatable-thead > tr > th:nth-child(4),
  .p-datatable-tbody > tr > td:nth-child(4) {
    width: 180px !important;
    max-width: 180px !important;
    min-width: 180px !important;
  }

  .p-datatable-thead > tr > th:nth-child(5),
  .p-datatable-tbody > tr > td:nth-child(5) {
    width: 150px !important;
    max-width: 150px !important;
    min-width: 150px !important;
  }

  .p-datatable-thead > tr > th:nth-child(6),
  .p-datatable-tbody > tr > td:nth-child(6) {
    width: 150px !important;
    max-width: 150px !important;
    min-width: 150px !important;
  }

  .p-datatable-thead > tr > th:nth-child(7),
  .p-datatable-tbody > tr > td:nth-child(7) {
    width: 100px !important;
    max-width: 100px !important;
    min-width: 100px !important;
    text-align: center !important;
  }
}

// Ajustar texto en columnas pequeñas
:host ::ng-deep .p-datatable {
  .p-datatable-tbody > tr > td:nth-child(1),
  .p-datatable-tbody > tr > td:nth-child(2),
  .p-datatable-tbody > tr > td:nth-child(3),
  .p-datatable-tbody > tr > td:nth-child(4),
  .p-datatable-tbody > tr > td:nth-child(5),
  .p-datatable-tbody > tr > td:nth-child(6) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem !important;
  }
}
