<p-toast position="top-right" key="tr" />

@if (loading) {
<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 transition-opacity duration-300">
  <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration="2s"
    [style]="{ width: '70px', height: '70px' }"></p-progress-spinner>
</div>
}

<div class="flex flex-col items-center justify-center mx-auto my-6 max-w-6xl">
  <p-table #tableAnalisisSensorial [value]="dataAnalisisSensorial" [scrollable]="true" scrollHeight="400px"
    [columns]="headersAnalisisSensorial" [tableStyle]="{ 'min-width': '50rem', 'max-width': '80rem' }" dataKey="id"
    editMode="row">

    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track $index) {
        <th class="grid-lines">{{ col.header }}</th>
        }
      </tr>
    </ng-template>

    <ng-template #body let-rowData let-columns="columns" let-editing="editing" let-rowIndex="rowIndex">
      <tr [pEditableRow]="rowData">
        @for (col of columns; track $index) {
        <td>
          @if (col.field === 'embalaje') {
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="flex flex-wrap gap-4 justify-center">
                <div class="flex items-center">
                  <p-radioButton [name]="'embalaje_' + rowIndex" [value]="0" [(ngModel)]="rowData.embalaje"
                    [inputId]="'embalaje_c_' + rowIndex" />
                  <label [for]="'embalaje_c_' + rowIndex" class="ml-2">C</label>
                </div>
                <div class="flex items-center">
                  <p-radioButton [name]="'embalaje_' + rowIndex" [value]="1" [(ngModel)]="rowData.embalaje"
                    [inputId]="'embalaje_nc_' + rowIndex" />
                  <label [for]="'embalaje_nc_' + rowIndex" class="ml-2">NC</label>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              <div class="flex justify-center">
                <span class="font-semibold" [ngClass]="{
                  'text-green-600': rowData.embalaje === 0,
                  'text-red-600': rowData.embalaje === 1,
                  'text-gray-400': rowData.embalaje === null
                }">
                  {{ getDisplayValue(rowData.embalaje) }}
                </span>
              </div>
            </ng-template>
          </p-cellEditor>
          } @else if (col.field === 'suciedad') {
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="flex flex-wrap gap-4 justify-center">
                <div class="flex items-center">
                  <p-radioButton [name]="'suciedad_' + rowIndex" [value]="0" [(ngModel)]="rowData.suciedad"
                    [inputId]="'suciedad_c_' + rowIndex" />
                  <label [for]="'suciedad_c_' + rowIndex" class="ml-2">C</label>
                </div>
                <div class="flex items-center">
                  <p-radioButton [name]="'suciedad_' + rowIndex" [value]="1" [(ngModel)]="rowData.suciedad"
                    [inputId]="'suciedad_nc_' + rowIndex" />
                  <label [for]="'suciedad_nc_' + rowIndex" class="ml-2">NC</label>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              <div class="flex justify-center">
                <span class="font-semibold" [ngClass]="{
                  'text-green-600': rowData.suciedad === 0,
                  'text-red-600': rowData.suciedad === 1,
                  'text-gray-400': rowData.suciedad === null
                }">
                  {{ getDisplayValue(rowData.suciedad) }}
                </span>
              </div>
            </ng-template>
          </p-cellEditor>
          } @else if (col.field === 'color') {
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="flex flex-wrap gap-4 justify-center">
                <div class="flex items-center">
                  <p-radioButton [name]="'color_' + rowIndex" [value]="0" [(ngModel)]="rowData.color"
                    [inputId]="'color_c_' + rowIndex" />
                  <label [for]="'color_c_' + rowIndex" class="ml-2">C</label>
                </div>
                <div class="flex items-center">
                  <p-radioButton [name]="'color_' + rowIndex" [value]="1" [(ngModel)]="rowData.color"
                    [inputId]="'color_nc_' + rowIndex" />
                  <label [for]="'color_nc_' + rowIndex" class="ml-2">NC</label>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              <div class="flex justify-center">
                <span class="font-semibold" [ngClass]="{
                  'text-green-600': rowData.color === 0,
                  'text-red-600': rowData.color === 1,
                  'text-gray-400': rowData.color === null
                }">
                  {{ getDisplayValue(rowData.color) }}
                </span>
              </div>
            </ng-template>
          </p-cellEditor>
          } @else if (col.field === 'flavor') {
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="flex flex-wrap gap-4 justify-center">
                <div class="flex items-center">
                  <p-radioButton [name]="'flavor_' + rowIndex" [value]="0" [(ngModel)]="rowData.flavor"
                    [inputId]="'flavor_c_' + rowIndex" />
                  <label [for]="'flavor_c_' + rowIndex" class="ml-2">C</label>
                </div>
                <div class="flex items-center">
                  <p-radioButton [name]="'flavor_' + rowIndex" [value]="1" [(ngModel)]="rowData.flavor"
                    [inputId]="'flavor_nc_' + rowIndex" />
                  <label [for]="'flavor_nc_' + rowIndex" class="ml-2">NC</label>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              <div class="flex justify-center">
                <span class="font-semibold" [ngClass]="{
                  'text-green-600': rowData.flavor === 0,
                  'text-red-600': rowData.flavor === 1,
                  'text-gray-400': rowData.flavor === null
                }">
                  {{ getDisplayValue(rowData.flavor) }}
                </span>
              </div>
            </ng-template>
          </p-cellEditor>
          } @else if (col.field === 'acciones') {
          <div class="flex items-center justify-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" text rounded
              severity="secondary" (click)="onRowEditInit(rowData)" pTooltip="Editar" tooltipPosition="top">
            </button>

            <button *ngIf="editing" pButton pRipple type="button" icon="pi pi-check" text rounded severity="success"
              (click)="onRowEditSave(rowData, rowIndex, $event)" pTooltip="Guardar" tooltipPosition="top">
            </button>

            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" text rounded
              severity="danger" (click)="onRowEditCancel(rowData, rowIndex)" pTooltip="Cancelar" tooltipPosition="top">
            </button>
          </div>
          } @else {
          {{ rowData[col.field] }}
          }
        </td>
        }
      </tr>
    </ng-template>
  </p-table>

  @if (!dataAnalisisSensorial || dataAnalisisSensorial.length === 0) {
  <p class="text-gray-400 text-center italic mt-4">No hay datos para mostrar</p>
  }
</div>
