<app-header [title]="'SELECCIÓN Y CLASIFICACIÓN DE LECHE HUMANA EXTRAIDA CRUDA (FRIAM-015)'" />

<div class="flex justify-between items-center mx-4 mt-10">
  <div class="flex gap-3 items-center">
    <span class="font-semibold text-gray-700">Filtros:</span>

    <input pInputText type="text" [(ngModel)]="filtrosBusqueda.no_frasco_procesado" (input)="aplicarFiltros()"
      placeholder="N° Frasco Procesado" class="w-48" />

    <input pInputText type="text" [(ngModel)]="filtrosBusqueda.donante" (input)="aplicarFiltros()" placeholder="Donante"
      class="w-36" />

    <input pInputText type="text" [(ngModel)]="filtrosBusqueda.frasco_leche_cruda" (input)="aplicarFiltros()"
      placeholder="Frasco Leche Cruda" class="w-48" />

    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-text p-button-secondary"
      (click)="limpiarFiltros()" pTooltip="Limpiar filtros" tooltipPosition="top"></button>
  </div>

  <shared-month-picker (dateChange)="onMonthPickerChange($event)" />
</div>

<seleccion-clasificacion-table [filtrosBusqueda]="filtrosBusqueda" (eyeClicked)="onEyeClicked($event)" />

@if (showAnalisisSensorialDialog && selectedData) {
  <analisis-sensorial-dialog
    [visible]="showAnalisisSensorialDialog"
    [seleccionClasificacionData]="selectedData"
    (dialogClosed)="onAnalisisSensorialDialogClosed()" />
}

@if (showAcidezDornicDialog && selectedData) {
  <acidez-dornic-dialog
    [visible]="showAcidezDornicDialog"
    [seleccionClasificacionData]="selectedData"
    (dialogClosed)="onAcidezDornicDialogClosed()" />
}
