<app-header [title]="'SELECCIÓN Y CLASIFICACIÓN DE LECHE HUMANA EXTRAIDA CRUDA (FRIAM-015)'" />

<div class="flex justify-between items-center mx-4 mt-8">
  <shared-new-register-button (nuevoRegistro)="crearNuevoRegistro()" [disabled]="hasNewRowInEditing" />
  <shared-month-picker (dateChange)="onMonthPickerChange($event)" />
</div>

<seleccion-clasificacion-table (eyeClicked)="onEyeClicked($event)" />

<!-- Los dialogs se crearán después -->
<!-- @if (showAnalisisSensorialDialog && selectedData) {
  <analisis-sensorial-dialog
    [visible]="showAnalisisSensorialDialog"
    [data]="selectedData"
    (dialogClosed)="onAnalisisSensorialDialogClosed()" />
} -->
