<app-header [title]="'RUTA DE RECOLECCIÓN DE LECHE HUMANA CRUDA (FRIAM 011)'" />

<div class="flex justify-between items-center mx-4">
  <new-route (nuevaRuta)="agregarFilaVacia()" />
  <app-month-picker (dateChange)="filtrarPorFecha($event)" />
</div>

<!-- <principal-table /> -->
<principal-table
  [customers]="customers"
  [filteredCustomers]="filteredCustomers"
  [filaEnEdicion]="filaEnEdicion"
  (filaSeleccionada)="onFilaSeleccionada($event)"
  (modoEdicionCambiado)="onModoEdicionCambiado($event)"
/>

<primary-dialog
  [dialogRow]="selectedCustomer"
  [dialogVisible]="selectedCustomer !== null && !enModoEdicion"
  (visibilityChange)="onDialogVisibilityChange($event)"
/>

<!-- Nuevo Dialog -->
<secondary-dialog />
