<p-accordion-panel value="0">
  <p-accordion-header>DATOS DE INSCRIPCION</p-accordion-header>
  <p-accordion-content>
    <form class="datos-inscripcion-grid">
      <div>
        <label>FECHA DILIGENCIAMIENTO</label>
        <p-datepicker
          [(ngModel)]="fechaDiligenciamiento"
          name="fechaDiligenciamiento"
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="icondisplay"
          dateFormat="dd/mm/yy"
        ></p-datepicker>
      </div>
      <div>
        <label>Nombre</label>
        <input
          pInputText
          type="text"
          name="nombre"
          [(ngModel)]="nombre"
          required
        />
      </div>
      <div>
        <label>Celular</label>
        <input pInputText type="text" name="celular" [(ngModel)]="datosPrecargados.celular" />
      </div>
      <div>
        <label>Fecha de nacimiento</label>
        <p-datepicker
          [(ngModel)]="fechaNacimiento"
          name="fechaNacimiento"
          [iconDisplay]="'input'"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
        ></p-datepicker>
      </div>
      <div>
        <label>Profesión/Oficio</label>
        <input pInputText type="text"  [(ngModel)]="profesion" name="profesion" />
      </div>
      <div>
        <label>Barrio/Vereda</label>
        <input pInputText type="text" [(ngModel)]="datosPrecargados.barrio" name="barrio"/>
      </div>
      <div>
        <label>Teléfono</label>
        <input pInputText type="text" [(ngModel)]="datosPrecargados.telefono" name="telefono" />
      </div>
      <div>
        <label>¿Donante exclusiva?</label>
        <div class="flex items-center gap-4">
          <p-radioButton
            name="donanteExclusiva"
            [value]="1"
            [(ngModel)]="donanteExclusiva"
            inputId="donanteSi"
          ></p-radioButton>
          <label for="donanteSi" class="mr-4">Sí</label>
          <p-radioButton
            name="donanteExclusiva"
            [value]="0"
            [(ngModel)]="donanteExclusiva"
            inputId="donanteNo"
          ></p-radioButton>
          <label for="donanteNo">No</label>
        </div>
      </div>
      <div>
        <label>Departamento</label>
        <input pInputText type="text" [(ngModel)]="departamento" name="departamento" />
      </div>
      <div>
        <label>Dirección</label>
        <input pInputText type="text" [(ngModel)]="datosPrecargados.direccion" name="direccion"/>
      </div>
      <div>
        <label>Nombre del hijo</label>
        <input pInputText type="text"  [(ngModel)]="nombreHijo" name="nombreHijo" />
      </div>
      <div>
        <label>EPS</label>
        <input pInputText type="text"  [(ngModel)]="eps" name="eps" />
      </div>
      <div>
        <label>Ciudad</label>
        <input pInputText type="text" [(ngModel)]="datosPrecargados.ciudad" name="ciudad"/>
      </div>
      <div>
        <label>Recolección en el domicilio</label>
        <div class="flex items-center gap-4">
          <p-radioButton
            name="recoleccionDomicilio"
            [value]="1"
            [(ngModel)]="recoleccionDomicilio"
            inputId="recoleccionSi"
          ></p-radioButton>
          <label for="recoleccionSi" class="mr-4">Sí</label>
          <p-radioButton
            name="recoleccionDomicilio"
            [value]="0"
            [(ngModel)]="recoleccionDomicilio"
            inputId="recoleccionNo"
          ></p-radioButton>
          <label for="recoleccionNo">No</label>
        </div>
      </div>
      <div>
        <label>Peso del bebé (gramos)</label>
        <input pInputText type="text"  [(ngModel)]="pesoBebe" name="pesoBebe"/>
      </div>
      <div>
        <label>Edad</label>
        <input pInputText type="text" [(ngModel)]="edad" name="edad" />
      </div>
      <div>
        <label>Documento de identidad</label>
        <input pInputText type="text"  [(ngModel)]="datosPrecargados.documento" name="documento"/>
      </div>
      <div>
        <label>Código de donante</label>
        <input pInputText type="text" [(ngModel)]="codDonante" name="codDonante" [disabled]="true" />
      </div>
      <div>
        <label></label>
        <div class="flex items-center gap-4">
          <p-radioButton
            name="donante_EoI"
            value="externa"
            [(ngModel)]="donante_EoI"
            inputId="donanteExterna"
          ></p-radioButton>
          <label for="donanteExterna" class="mr-4">Donante externa</label>
          <p-radioButton
            name="donante_EoI"
            value="interna"
            [(ngModel)]="donante_EoI"
            inputId="donanteInterna"
          ></p-radioButton>
          <label for="donanteInterna">Donante interna</label>
        </div>
      </div>
      <div>
        <label>Capacitada en</label>
        <input pInputText type="text"  [(ngModel)]="capacitacion" name="capacitacion"/>
      </div>
    </form>
  </p-accordion-content>
</p-accordion-panel>
