<p-accordion-panel value="0">
  <p-accordion-header>DESCRIPCIÓN DE LA SITUACIÓN ENCONTRADA</p-accordion-header>
  <p-accordion-content>
    <div style="max-height: 600px; overflow-y: auto; padding-right: 12px">
      @for (item of categorias; track $index; let i = $index) {
      <div class="mb-10">
        <div class="col-span-2 mb-4">
          <h3 class="subtitulo-accordion text-base font-semibold mb-2">
            {{$index +1}}. {{item.descripcion.toUpperCase()}}
          </h3>
        </div>
        <div class="grid grid-cols-2 gap-6">
          @for (pregunta of newPreguntas[i]; track $index; let j = $index) {
          <div class="radios-texto" [class]="pregunta.descripcion.length > 50 ? 'col-span-2' : 'col-span-1'">
            <label class="font-bold mb-1 block">¿{{pregunta.descripcion}}?</label>
            <div class="flex items-center gap-6 mt-2">
              <p-radioButton [name]="'pregunta_' + i + '_' + j" [value]="1" [(ngModel)]="respuestas[i][j].respuesta"
                [inputId]="'pregunta_' + i + '_' + j + '_si'">
              </p-radioButton>
              <label [for]="'pregunta_' + i + '_' + j + '_si'" class="mr-4">Sí</label>

              <p-radioButton [name]="'pregunta_' + i + '_' + j" [value]="0" [(ngModel)]="respuestas[i][j].respuesta"
                [inputId]="'pregunta_' + i + '_' + j + '_no'">
              </p-radioButton>
              <label [for]="'pregunta_' + i + '_' + j + '_no'">No</label>
            </div>
          </div>
          }
        </div>
      </div>
      }
    </div>
  </p-accordion-content>
</p-accordion-panel>
