<app-header [title]="'CONTROL DE TEMPERATURA DEL PASTEURIZADOR BLH (FRIAM-036)'" />

<div class="flex justify-between items-center mx-4 mt-8">
  <shared-new-register-button (nuevoRegistro)="crearNuevoRegistro()" [disabled]="hasNewRowInEditing" />
  <shared-month-picker (dateChange)="onMonthPickerChange($event)" />
</div>

<control-temperatura-table (eyeClicked)="onEyeClicked($event)" />

@if (showCalentamientoDialog && selectedControlTemperaturaData) {
<calentamiento-dialog [visible]="showCalentamientoDialog" [controlTemperaturaData]="selectedControlTemperaturaData"
  (dialogClosed)="onCalentamientoDialogClosed()" />
}

@if (showEnfriamientoDialog && selectedControlTemperaturaData) {
<enfriamiento-dialog [visible]="showEnfriamientoDialog" [controlTemperaturaData]="selectedControlTemperaturaData"
  (dialogClosed)="onEnfriamientoDialogClosed()" />
}
