<div class="card flex justify-center">
  <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '70rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true" (onHide)="closeDialog()"
    [draggable]="false">

    <p-toast position="top-right" key="tr" />

    @if (loading) {
    <div
      class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 transition-opacity duration-300">
      <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration="2s"
        [style]="{ width: '70px', height: '70px' }"></p-progress-spinner>
    </div>
    }

    <new-register-pasterizacion (nuevaPasterizacion)="onNuevaPasterizacion()"
      [disabled]="isNewPasterizacionButtonDisabled()">
    </new-register-pasterizacion>

    <pasterizacion-table [idControlReenvase]="idControlReenvase" />

  </p-dialog>
</div>